In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('CountriesData.csv')

## BASIC LEVEL (To Build a Strong Foundation)

1Ô∏è‚É£ How many unique countries are there in the dataset?
2Ô∏è‚É£ How many continents are covered?
3Ô∏è‚É£ Which continent has the highest number of countries?
4Ô∏è‚É£ Calculate the average population for each continent.
5Ô∏è‚É£ List the top 10 most populated countries.
6Ô∏è‚É£ Which country has the highest median age?
7Ô∏è‚É£ Which region has the highest rural population (%)?
8Ô∏è‚É£ Which continent has the highest average democracy score?
9Ô∏è‚É£ How many countries have a missing capital city?
üîü Which country has the best press freedom score
(highest or lowest ‚Äî according to how the dataset defines it)?

How many unique countries are there in the dataset?

In [4]:
df['country'].unique()
df['country'].nunique()

194

How many continents are covered?

In [5]:
usingVCount = df['continent'].value_counts()
usingUnique = df['continent'].nunique()

In [6]:
usingUnique

5

In [7]:
usingVCount

continent
Africa      54
Asia        47
Europe      44
Americas    35
Oceania     14
Name: count, dtype: int64

Which continent has the highest number of countries?

In [8]:
df['continent'].value_counts()

continent
Africa      54
Asia        47
Europe      44
Americas    35
Oceania     14
Name: count, dtype: int64

In [9]:
# Only continent name
df['continent'].value_counts().idxmax()

'Africa'

Calculate the average population for each continent.

In [10]:
df.groupby('continent')['population'].mean()

continent
Africa      2.638538e+07
Americas    2.936354e+07
Asia        9.953398e+07
Europe      1.678467e+07
Oceania     3.134620e+06
Name: population, dtype: float64

In [11]:
print(f"{df.groupby('continent')['population'].mean().idxmax()} = {df.groupby('continent')['population'].mean().max()}")

Asia = 99533984.95744681

List the top 10 most populated countries.

In [12]:
top10 = df[['country','population']].sort_values(by='population', ascending = False).head(10)
top10.reset_index(drop=True)

         country  population
0          India  1417173173
1          China  1412175000
2  United States   333287557
3      Indonesia   275501339
4       Pakistan   235824862
5        Nigeria   218541212
6         Brazil   215313498
7     Bangladesh   171186372
8         Russia   143555736
9         Mexico   127504125

Which country has the highest median age?

In [13]:
df[['country','median_age']].sort_values(by='median_age',ascending=False).head().reset_index(drop=True)

      country  median_age
0      Monaco        50.5
1       Japan        44.7
2       Italy        43.2
3  San Marino        42.7
4    Portugal        41.4

Which region has the highest rural population (%)?

In [14]:
df[['country','rural_population']].sort_values(by='rural_population',ascending=False).head().reset_index(drop=True)

      country  rural_population
0       India         908804812
1       China         514596570
2    Pakistan         146845783
3   Indonesia         115892393
4  Bangladesh         103206552

Which continent has the highest average democracy score?

In [15]:
df.groupby('continent')['democracy_score'].mean().idxmax()

'Europe'

How many countries have a missing capital city?

In [16]:
df['capital_city'].isna().sum()

np.int64(0)

Which country has the best press freedom score (highest or lowest ‚Äî according to how the dataset defines it)?

In [17]:
df[['country','press']].sort_values(by='press',ascending=False).head(1).reset_index(drop=True)

  country  press
0  Norway   10.0